<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mb-3"><%= title %></h1>
      <hr />
      <p style="font-size: 20px;">This is a demo project built using express-generator with EJS as template engine. Click on the following button to get posts list.</p>
      <a href="/posts" class="d-block text-light text-decoration-none"><button type="button" class="btn btn-success m-auto">Go To Posts</button></a>
    </div>
  </body>
</html>

